#page-content {
  background-color: #ffffff;
}

#page-content > div {
  max-width: 80%;
}

#activity-name {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin: 0.5em 0;
}

#meta_content {
  font-size: 1.2em;
  text-align: center;
  margin: 0.5em 0;
}

#js_pc_qr_code > div > div {
  display: none;
}
